#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  font-family:fantasy;
  color: black;
  font-weight: 200;
}

 body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("https://cdn.insuremytrip.com/resources/30991/learning-spanish-for-travel.jpg");
}

.card {
  padding: 2em
}

.card {
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 0 5px 2px #0000004d;
  transform-style: preserve-3d;
  font-weight: 700;
  padding: 3em;
  height: 250px;
  width: 500x;
  cursor: pointer;
  transition: .15s;
  transform: perspective(1000px) rotateX(var(--rotate-X, 0))
}


.card:hover {
  box-shadow: 0 0 5px 2px #00000080
}


.card.flipped {
  --rotate-X: 180deg
}

.card .front,.card .back {
  position: absolute;
  padding: 5px;
  justify-content: center;
  backface-visibility: hidden
}

.card .back {
  transform: rotateX(180deg)
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: .6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color .25s
}

button:hover {
  border-color: #646cff
}


h2, h4, h5 {
  background-color: beige;
  display: inline-block;
  padding: 0.4em;
  margin: 0.5em 0; 
  border-radius: 4px; 
  width: auto; 
}

